# ===================================================================
# tpDcc-tools-unittests requirements file
# ===================================================================
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt
tpDcc-libs-unittests